name: Build Workflow

run-name: 'Build Workflow -- ${{ github.head_ref || github.ref_name }}'

# Pipeline/Workflow Triggers
on:
    push:
    pull_request:
    workflow_dispatch:


jobs:
  pr-verification:
    name: Pull Request Validation
    runs-on: ubuntu-24.04
    if: github.event_name == 'pull_request'
    steps:
      - name: Pull Request Version Validation
        uses: ikmdev/maven-pull-request-version-validation-action@v2
        
  build-job:
    name: Build Job
    runs-on: ubuntu-24.04
    steps:
      - name: Build IKMDEV Code
        uses: ikmdev/maven-clean-install-build-action@v3
        with:
          branch_name: ${{github.ref_name}}
          java_version: '24'
         